.date-range-picker-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
}
  
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #235790;
    color: #fff;
    cursor: pointer;
}

.MuiDateCalendar-root {
    border-radius: 25px;
}

.MuiClock-clock {
    background-color: gray;
}

.MuiDateCalendar-root {
    background-color: white;
}

.MuiPickersFadeTransitionGroup-root {
    color: black;
}


  
  
  